*{
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

.App{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  margin-top: 150px;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.btncollection{
  display: flex;
  max-height: 50px;
  flex-direction: column;
}
.btncollection button{
  margin-top: 5px;
}
.nextbtn{
  display: flex;
  justify-content: center;
  margin-top: 50px;

}
.nextbtn button{
  width: 100%;
}
.score{
  text-align: center;
  margin-top: 50px;
  border: 1px solid  transparent;
  padding: 30px 10px 30px 10px;
  border-radius: 50%;
  width: 80px;
  margin: auto;
  font-size: 1.8rem;
  font-weight: bold;
  background-color: #1a1a1a;
}
.h2{
  text-align: center;
  font-size: 2rem;
}